.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.fa-trash,.fa-check{
  pointer-events:none;
}
.fall{
  transform:translateY(10rem) rotatez(20deg);
  opacity: 0;
}
.completed{
  text-decoration: line-through;
}
.todo.item{
  padding: 0rem 0.5rem;
}
.trash-btn,.done-btn{
background: red;
color:white;
border:none;
padding: 1rem;
cursor: pointer;
font-size: 1rem;

}
.done-btn{
  background: #37ecba;
}